h1{
    text-align: center;
    color: rgb(43, 226, 180);
    font-family: Arial, Helvetica, sans-serif;
}
.p1{
    font-size: 30px;
    padding-left: 5%;
}
body{
    background-color: grey;
    font-family: 'Indie Flower', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
    height: 80px;
    width: 70px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}
.box{
    width: 30%;
}
input{
    height: 20px;
    border-radius: 5px;
}
.color{
    color: yellowgreen;
    font-size: 20px;
}
.container{
    display: flex;
    padding-left: 5vw;
    width: 100vw;
}
.imgleucocito{
    width: 70%;
    height: 73%;
}
.boximg{
    display: flex;
    align-items: center;
}
.titulo{
    font-family: 'Indie Flower', cursive;
}